<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Redefinir Senha | Geeklog</title>
  <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Jersey+25&family=JetBrains+Mono&display=swap" rel="stylesheet">
  <link rel="icon" href="{% static 'img/geeko.svg' %}" type="image/svg">
</head>
<body>
  <div class="container">
    <img class="logo" src="{% static 'img/geeko-forgout.svg' %}" alt="Logo Geeklog" class="logo">
    <h1>Redefinir Senha</h1>
    <p class="sub">Informe seu e-mail e enviaremos um link para redefinir sua senha.</p>

    <form method="POST" action="{% url 'account_reset_password' %}">
      {% csrf_token %}
      <input type="email" name="email" placeholder="Digite seu email" required>
      <button type="submit">Enviar link</button>
    </form>

    <div class="login-link">
      <a href="{% url 'account_login' %}">← Voltar ao login</a>
    </div>
  </div>
</body>
</html>
